<!-- Search form -->

<div class="row homepagesb">
      <a href="#">
          <img src="../../../assets/DCAware.JPG" class="logo" alt="DC Aware Logo">
        </a>
</div>
  <div class="homepagesb">
        <form class="form-inline md-form mr-auto active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search for servers" aria-label="Search">
            <button class="btn aqua-gradient btn-rounded btn-md my-0" type="submit">Search</button>
        </form>  
</div>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 ">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-sm-12">
          <div class="mb-5 flex-center" class="footerlogo">

            <!-- Wipro -->
            <a href="#">
              <img src="../../../assets/wiproLogoNoBorder.JPG" alt="Wipro Logo">
            </a>
            <!-- Innogy -->
            <a href="#">
                <img src="../../../assets/Innogy.jpg" alt="Innogy Logo">
            </a>
            
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2018 Copyright:
      <a href="#"> Wipro</a>
    </div>
    
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

