<!-- Search form -->

<div class="row homepagesb">
  <div class="col-sm-2">
      <a href="#">
          <img src="../../../assets/DCAware.JPG" class="logo" alt="DC Aware Logo">
        </a>
  </div>
  <div class="col-sm-10">
    <br>
      <form class="form-inline md-form mr-auto active-cyan-3 active-cyan-4 mb-4">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn aqua-gradient btn-rounded btn-md my-0" type="submit">Search</button>
        </form>
  </div>
  
</div>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">

            <!-- Wipro -->
            <a href="#">
              <img src="../../../assets/Wipro_Logo.png" alt="Wipro Logo">
            </a>
            <!-- Innogy -->
            <a href="#">
                <img src="../../../assets/Innogy.jpg" alt="Wipro Logo">
            </a>
            
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

